#Dependencies
node_modules/

#environment
.env

#Logs
logs/
.DS_Store
cypress/.DS_Store

#Environment variables
# .env   Keeping this in version control to make a pull easier to use OOTB.
# .gitignore. Keeping this in version control so comments are visible to users.

#Build output
dist/
build/
coverage/

#Test Output
cypress/screenshots/
cypress/videos/
